.logo{
    align-self: left;
    max-width: 20%;
    color:white;
    background-color: turquoise;
}

.slogan{
    max-width: 80%;
    font-size: 38px;
    color: green;
    background-color: yellow;

}