<form id="frmstylizer" action="#" method="post">
    <fieldset>
     <h2>Veículo</h2>    
        <legend>Veiculo</legend>
        <label class="x-small">Cod. Fipe <input type="text" class="textfield" /></label>
        <label class="small">Nome <input type="text" class="textfield" /></label>
        <label class="large">Versão <input type="text" class="textfield" /></label>
        <label class="x-small">Marca <input type="text" class="textfield" /></label><br />
        
        <label class="small">Combustível <input type="text" class="textfield" /></label>
        <label class="large">Referencia <input type="text" class="textfield" /></label>        
        <label class="small">Preço <input type="text" class="textfield" /></label><br/>
</fieldset>